<launch>
	<node pkg="lane_detector_jeju_2" type="lane_detector_jeju_2" name="lane_detector_jeju_2" output='screen'>
		<param name="resize_width" value="1280" />
		<param name="resize_height" value="720" />

		<!-- 1. Binary threshold 시흥-->
		<param name="gray_bin_thres" value="200" />
		<!--param name="hsv_h_bin_thres" value="180" />
		<param name="hsv_s_bin_thres" value="150" />
		<param name="hsv_v_bin_thres" value="255" /-->
	

		<!-- 1. Binary threshold 
		<param name="gray_bin_thres" value="180" />
		<param name="hsv_s_bin_thres" value="200" />
		<param name="hsv_h_bin_thres" value="180" />
		<param name="hsv_v_bin_thres" value="255" />
		-->
		

		<!-- 2. Detect line -->
		<!-- 원인은 모르겠으니 detect_line_count를 3개 이상으로 늘리면 조향이 둔감해지는 경향이 있음 -->
		<param name="detect_line_count" value="5" />
		<param name="detect_y_offset_1" value="40" />
		<!-- param name="detect_y_offset_2" value="" /-->

		<!-- 3. Detect offset -->
		<param name="left_detect_offset" value="0" />
		<param name="right_detect_offset" value="0" />

		<!-- 4. Control hardware -->
		<!-- rc car -->
		<!--param name="steer_max_angle" value="45" /-->
		<!--param name="throttle" value="1515" /-->
		<!--remap from="/crosswalk_stop/write" to="write" /-->

		<!-- scale platform -->
		<param name="steer_max_angle" value="28" />
		<param name="throttle" value="16" />
		<remap from="/lane_detector/ackermann" to="ackermann" />

		<!-- 5. Control factor -->
		<!-- yaw_error *= yaw_factor / 100 -->
		<param name="yaw_factor" value="100" />

		<!-- lateral_error *= lateral_factor/ 100 -->
		<param name="lateral_factor" value="100" />
	</node>
</launch>
